[client]
port = 3307
socket = /usr/local/mysql/mysql.sock
[mysqld]

port = 3306
user = mysql
server-id = 22
bind-address = 0.0.0.0
basedir = /usr/local/mysql
datadir = /usr/local/mysql/data
socket = /usr/local/mysql/mysql.sock
pid-file = /usr/local/mysql/mysql.pid
log-error = /usr/local/mysql/mysqld.log

skip-name-resolve
log_bin = mysql-bin


sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
